/* ContactUs.css */
.contactus-container {
    height: 30vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
  }

  .header {
    padding-left: 30px;
    padding-top: 30px;
  }
/*   
  .form {
    width: 40%;
  }
  
  .input-fields {
    display: flex;
    flex-direction: column;
  }
  
  .input-label {
    color: black;
  }
  
  .input-field {
    background-color: black;
    color: white;
    margin-bottom: 15px;
  }
  
  .submit-button {
    margin-top: 20px;
    background-color: black;
    color: white;
  }
   */